body {
    background-color: rgb(157, 0, 255);
}
#foto {
    max-width: 900px;
}
#imagem {
 max-width: 700px;    
}
p {
    font-size: 27px;
}
h1{
    text-align: center;
    color: #5F0825;
      font-size: 35px;